// .lists {
//     .list-group-item {
//         &.complete-true {
//           span {
//             text-decoration:line-through;
//           }
//           &:hover {
//                                background: seagreen;
//                             }
//         }
//     }
// }

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.todo-details {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 1em;
  }

  .item {
    flex: 1;
    padding: 1em;
  }
}
.navHeader {
  background-color: #007bff;
  margin-bottom: 1%;
}
.title {
  color: white;
}
.headTitle {
  background-color: rgb(37, 37, 43);
  color: white;
  padding-left: 20px;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 2em;

  form {
    display: flex;
    flex-direction: column;
    margin-right: 2em;

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
    }
  }

  .lists {
    // list-style-type: none;
    margin: 0;
    padding: 0;

    .list-group-item {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 0.75em;
      margin: 0.75em 0.5em;

      &.complete-true {
        span {
          text-decoration: line-through;
        }
      }
      // &:hover {
      //   cursor: pointer;
      //   background-color: rgb(96, 182, 103);
      // }

      .todoList {
        width: 400px;
      }
      input {
        border: 0.5px solid #eee;
        display: inline-block;
        padding: 0.2em 0.25em;
        width: 300px;
      }

      .submitBtn {
        background: transparent;
        border: none;
        color: blue;
        cursor: pointer;
        padding: 0;
        margin: 0 0.75em;
      }
    }
  }
}
// .removeBtn {

// }

.complete-false-hide{
  display: none;
}

.complete-true-show{
  display: block;
}

// #dropdown-basic{
//   width: 50px;
// }

// dropdown {
//   width: 50%;
// }